body{
    font: Arial;
}
.chat .messages{
    border: 1px solid;
    width: 250px;
    height: 210px;
    padding: 10px;
    overflow-y: scroll;
}
.chat .entry{
    width: 260px;
    height: 40px;
    padding: 5px;
    margin-top: 5px;
    font: 1em Arial;
}
.chat .message a{
    color: slategray;
}
.chat .message p{
    margin: 5px;
}